<html>
<head>
	<title></title>
</head>
<body>
<div class="wrapper">

<form action="" method="POST">{% csrf_token %}

	{% for field in form %}
		<div class="field-wrapper">

			<div class="field-label">
				{{ field.label_tag }}:
			</div>

			<div class="field-field">
				{{ field }}
				{{ field.errors }}
			</div>
		</div>
	{% endfor %}

	<br>
	<input type="submit" value="Purchase"/>
</form>

</div>

</body>
</html>